body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html{
  height: 100%;
}
.scroll {
  height: 700px; /* Высота блока */
  overflow-y: scroll; /* Включаем вертикальную прокрутку */
}
.container {
  
  margin: 0px 250px;
  min-height: 100vh;
}

.header {
    background-color: #6db197;
    background-size: cover;
    height: auto;
    
}


.FAQtext{
    font-size: 50px;
    color: aliceblue;
    background-color: rgba(0, 58, 51, 0.808);
    border-radius: 10px;  }

.faq_buttons{
  margin-left: auto;
  margin-right: auto;

}

.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
}

.nav-item {
  color: #ffffff;
  text-decoration: none;
  
  font-size: 25px;
  font-weight: 650;
  margin-right: 25px;
  transition: color 0.3s linear;
  height: auto    ;
}

.nav-item:hover {
  color: #6db197;
} 

.num {
  color: #007969;
  text-decoration: none;
  font-weight: 700;

  transition: color 0.3s linear;
}

.num:hover {
  color: #007969;
}

.phone{
  position: relative
}

.phone-text {
  font-size: 15px;
  font-weight: 400px;
  color: #007969;
  margin-right: 50px;
}

.phone-holder {
  display: flex;
}

.button {
  background-color: rgb(0, 58, 51);
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;
  border-radius:10px;
  margin: 25px;
  height: auto;
  text-align: center;
  


  transition: background-color 0.2s linear;
}

.button_nebutton{
  background-color: rgb(0, 58, 51);
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;
  border-radius:10px;
  margin: 25px;
  height: auto;
  text-align: center;
  


  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #558f72;
}

.logo{
border-radius: 10px;



}


* {box-sizing:border-box}


@media all and (max-width : 1400px) {
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0px 50px;
  min-height: 100vh;
}

.header {
    background-color: #6db197;
    background-size: cover;
}


.header-line {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: #ffffff;
  text-decoration: none;
  
  font-size: 25px;
  font-weight: 650;
  margin-right: 10px;
  transition: color 0.3s linear;
}

.nav-item:hover {
  color: #6db197;
} 

.num {
  color: #007969;
  text-decoration: none;
  font-weight: 450;

  transition: color 0.3s linear;
}

.num:hover {
  color: #007969;
}

.phone{
  position: relative
}

.phone-text {
  font-size: 7px;
  font-weight: 450px;
  color: #007969;
  margin-right: 50px;
}

.phone-holder {
  display: flex;
}

.button {
  background-color: rgb(0, 58, 51);
  color: #fff;
  text-decoration: none;
  padding: 7px 9px;
  font-weight: 700;
  border-radius:10px;
  margin: 10px;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #558f72;
}

.logo{
border-radius: 10px;
margin-right: 10px;



}


* {box-sizing:border-box}



}





body{background: #edf2f7;}
details{
  display:block;
  background: rgba(0, 58, 51, 0.803);
  width:1000px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  overflow:hidden;
  margin: 20px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   display:block;
   padding: .3em 1em .3em .9em;
   border-bottom: 1px solid rgba(0, 0, 0, 0.363);
   font-size:1.4em;
   cursor: pointer;
   position: relative;
}
summary:before {  
  top: .4em;  
  right: .3em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
}
details[open] > summary:before {
  transform: scale(1,-1);
}
summary ~ * {
   padding: 0 1em 10px 1.4em;
}
details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}
.content {
  position: fixed;
  background: rgba(255, 255, 255, 0.767);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
}